body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
}
.header {
    border: 2px solid purple;
    background-color:#D2B4DE;
}
.header__menu {
    color:black;
    display: flex;
    justify-content: space-between;
}

.header__menu ul{
    display: flex;
}
.header__menu li {
    display: inherit;
}
.header__menu a {
    text-decoration: none;
    color: black;
    padding: 10px;
    font-weight: 700;  
    text-transform: uppercase;   
}
.header__menu a:hover{
    background-color:purple;
    color: white;
    border-radius: 10px;
}
.container {
    width: 1000px;
    margin: 0 auto;

}
.banner {
    color: white;
    background-color:#1ABC9C;
}

.banner .banner__hero {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.banner__text-hero {
    padding:80px 0 0 80px;
    font-family: monospace;
    font-size: 18px;
}
.perfil {
    border-radius: 50%;
}

.portafolio {
    display: flex;
    margin: 100px 0;
}

.portafolio__box {
    margin: 15px;
    box-shadow: 0px 1px 8px 2px;
    border-radius: 10px;
    width: 33%;
}

.portafolio__box img {
    border-radius: 10px;
}
.portafolio__card {
    margin: 20px;
    padding: 5px;
}
.portafolio__card button {
    background-color: purple;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 1px 4px 1px gray;
}

.portafolio__card button:hover {
    box-shadow: 1px 2px 5px 2px black;
}

.title {
    text-align: center;
    border-left: 6px solid purple;
    background-color: wheat;
}

.expirience {
    display: flex;
    margin: 100px;
    }
.expirience__box{
    margin: 15px;
    box-shadow: 0px 1px 8px 2px gray;
    border-radius: 10px;
    width: 50%;
    }
.expirience__body{
    box-shadow: 0px -10px 10px 2px #80808059;
    display: flex;
    justify-content: space-between;
    padding: 10px;
} 
footer {
    color: white;
    background-color: rgba(128, 128, 128, 0.459);
    }
.footer .footer_section{
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 20px;
}
.copyright {
    margin-top: 0;
    margin-bottom: 0;
    background-color: black;
    text-align: center;
    color: white;
    font-style: italic;
    
}